@media screen and (max-width: 970px) {
.container{
max-width: 760px;
}
.cards{
  flex-wrap: wrap;
}
.card{
  width: calc((100%-60%)/3);
  margin-bottom: 40px;
}
.who_img{
  width: calc(100-345%);
}
.menu{
  overflow: hidden;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9) ;
  height: 100vh;
}
.menu li{
  text-align: center;
  font-size: 36px;
  margin: 30px 0;
}
.rev{
  width: calc(50%-15px);
  padding: 30px;
}

@media screen and (max-width: 800px) {
.who_in{
  display: block;
}
.who_img{
  width: 100%;
  margin-bottom: 25px;
}
.who_info{
  width: 100%;
}
.desc{
  margin-bottom: 35px;
}
.rev{
  width: calc(50%-15px);
}
.foot_tit{
  font-size: 16px;
}
.tit{
  font-size: 28px;
}
}
@media screen and (max-width: 790px) {
  .container{
    min-width: 510px;
  }
  .header{
    padding: 20px 0 ;

  }
}